body {
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  text-align: center;
}

hr {
  border-color: black;
}

.d {
  color: green;
}

.d ul {
  color: black;
}

section>* {
  margin-left: 1em;
}

section h3 {
  margin-left: 0 !important;
}

div.i {
  margin-left: 20pt;
}

.hw {
  color: blue;
}

.ex {
  font-weight: bold;
}

hr {
  font-weight: normal !important;
}